header{
    background-color: var(--components-background);
    padding: 40px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

header .greetings{
    display: flex;
    justify-content: space-between;
}

header .greetings h2{
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 600;
}

header h3{
    color: var(--text-titles);
    font-size: 16px;
}